body{
	background-color: yellowgreen;
}
#camera{
	width: auto;
	height: auto;
	border-radius: 30%;
	border: 5px dashed blueviolet;
	overflow: hidden;
}
label{
	color: brown;
}
p{
	font-size: 18px;
	color: green;
}
b{
	color: purple;
}
#bug{
	color: darkred;
}
#demo{
	color: blue;
}
#result{
	width: 350px;
	height: 300px;
	border-radius: 30%;
	border: 5px dashed blueviolet;
	overflow: hidden;
}