body{
	background:url(C:\Users\sursa\web desi\api web\image_recog\img.jpg);
}
#camera{
	width: 350px;
	height: 300px;
	border-radius: 10%;
	border: 5px dashed blueviolet;
}
label{
	color: brown;
}
p{
	font-size: 18px;
	color: green;
}
b{
	color: purple;
}
bug{
	background-color: darkred;
}
demo{
	background-color: blue;
}
